.meme-generator{
    position: relative;
    width: 100%;
    height: 90vh;
}
.meme-text{
    position: absolute;
    text-align: center;
    width: 100%;
    
}
.top-text{
    top: 10%;
}
.bottom-text{
    bottom: 10%;
}